<main class="site-main">
  <section class="student-registration-section">
    <div class="student-registration">

 <div class="wrap">

  <div class="bir">
    <label for="name" >
      First name 
      <input id="name" type="text" placeholder="Enter your name...">
    </label>
    <label for="surname" >
      Last name 
      <input id="surname" type="text" placeholder="Enter your surname...">
    </label>
    <label for="email" >
      Email
      <input id="email" type="text" placeholder="Enter your email...">
    </label>
    <label for="sinf" >
      Class
      <input id="sinf" type="text" placeholder="Enter your class...">
    </label>
  </div>
  

    <div class="ikki">

      <div class="uch">
        <img src="/src/assets/puls.png" alt="Rasm bor edi❗">
        <h1>Add photo</h1>  
      </div>


      <label for="subject" >
        Subject
        <input id="subject" type="text" placeholder="Enter your subject...">
      </label>
      <label for="role" >
        Role
        <input id="role" type="text" placeholder="Enter your role...">
      </label>
    </div>

 </div>


        <button class="btnadd">Add to contact</button>
    </div>
  </section>
</main>
